on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@v12
      - name: Cargo Clippy
        run: nix develop -c cargo clippy -- -D warnings
      - name: Cargo Test
        run: nix develop -c cargo test
      - name: Nix Build
        run: nix build -L
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: result
